
.article-holder-outer{
   text-align: justify;
   font-size: 1.13rem;
   display: flex;
   column-gap: 3rem;
}

.article-holder-outer td{
    border: 1px solid var(--secondary-color);
}



.article-holder-outer img{
    width: 100%;
    height: 434px;
    object-fit: cover;
    object-position: center;
}

.article-holder-outer a{
    display:inline-block;
}

.article-holder{
    margin-inline: 20%;
    text-align: justify;
    /* min-height: 120vh; */
    font-size: 1.13rem;
    padding-bottom: 5%;
 }

.article-holder a{
     color:lightblue;
}

.article-holder img{
    margin-top: 2.7rem;
    margin-bottom: 3rem;
}

ol li {
    margin-bottom: 10px; /* Adjust the value as needed */
}